<section>
  <form [formGroup]="profileForm" (ngSubmit)="editProfile()">
    <p-panel header="Modifica Profilo">
      <div class="ui-fluid ui-inputgroup p-col">
        <span class="ui-inputgroup-addon">Nome</span>
        <input type="text" pInputText placeholder="Modifica Nome" formControlName="name">
      </div>
      <div class="ui-fluid ui-inputgroup p-col">
        <span class="ui-inputgroup-addon">Cognome</span>
        <input type="text" pInputText placeholder="Modifica Cognome" formControlName="lastname">
      </div>
      <div class="ui-inputgroup ui-fluid p-col">
        <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input type="password" pPassword placeholder="Modifica Password" formControlName="password">
      </div>
      <div class="p-col">
        <h4>Città</h4>
        <p-dropdown [options]="cities" formControlName="city"></p-dropdown>
      </div>
      <div class="p-col ui-fluid">
        <p-pickList [source]="allGenres" [target]="userGenres" sourceHeader="Generi Disponibili" targetHeader="Generi Preferiti"
          filterBy="genre" [responsive]="true" (onMoveToTarget)="addGenre($event)" (onMoveToSource)="removeGenre($event)">
          <ng-template let-genre pTemplate="item">
            <p>{{ genre.genre}}</p>
          </ng-template>
        </p-pickList>
      </div>
      <div class="p-col">
        <button pButton label="Modifica" icon="pi pi-check" type="submit"></button>
      </div>
    </p-panel>
    <p-toast></p-toast>
  </form>
</section>