<section>
  <p-tabView>
    <p-tabPanel header="I Tuoi Amici">
        <p-orderList [value]="friends" filterBy="name,lastname,city" [listStyle]="{'height':'250px'}">
          <ng-template let-friend pTemplate="item">
            <dl>
              <dt>Nome</dt>
              <dd>{{friend.name}}</dd>
              <dt>Cognome</dt>
              <dd>{{friend.lastname}}</dd>
              <dt>Città</dt>
              <dd>{{friend.city}}</dd>
            </dl>
          </ng-template>
        </p-orderList>
    </p-tabPanel>
    <p-tabPanel header="Persone che potresti Conoscere">
      Content 2
    </p-tabPanel>
  </p-tabView>
</section>